.taskItem {
    display: flex;
    padding: 1rem 1.5rem;
    padding-left: 5rem;
    border-bottom: 1px solid #f3f4f6;
    gap: 16px;

    &:hover {
        .deleteButton {
            opacity: 1;
        }
    }
}
.CheckButton {
    background-color: transparent;
    border: none;
    color: #d1d6db;
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
        color: #4adfbc;
    }
}
.deleteButton {
    background-color: transparent;
    border: none;
    color: #d1d6db;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0;

    &:hover {
        color: rgb(233, 88, 88);

    }
}
.taskText {
    flex: 1; /* ir para o final do espaço que tem */
    align-self: center;  /* alinhar ascoisas que estão na horizontal no centro */
   
}